/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    line-height: 1.2;
    font-family: 'Cormorant SC', serif;
    font-weight: 400;
    word-wrap: break-word;

}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/******************************************************************************
      template and helpers classes
******************************************************************************/

.header, .middle , .footer {
  width: 1200px;
  position: relative;
  max-width: 1000px;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto !important;
  height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
  height: 200px;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
  padding: 0 0 100px;
}
.middle:after {
  display: table;
  clear: both;
  content: '';
}
.container {
  overflow: hidden;
}
.content {
  padding: 0 0 0 270px;
}

.content-centr {
  float: left;
  margin-right: auto;
    margin-left: auto;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
  width: 250px;
  position: relative;
  float: left;
}

/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
  width: 250px;
  position: relative;
  float: right;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
  margin: -100px auto 0;
  height: 600px;
}

/***********helpers************/
.affix {
  position: fixed; }

.auto{
    margin-right: auto;
    margin-left: auto;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; 
}
.size-10{
    width: 10%;
}

.size-25{
    width: 25%;
}
.size-33{
    width: 33.3%;
}

.size-50{
    width: 50%;
}
.size-100{
    width: 100%;
}

.size-10, .size-25, .size-33, .size-50,
.size-100{
    height: auto;
    display: inline-block;
}
.no-decoration,
.no-decoration a{ 
    text-decoration: none;
} 

.inline,
.inline li {
     display: inline;
}

.full-width {
  width: 100%;
  box-sizing: border-box; }

/* ==========================================================================
                                Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/* Header
-----------------------------------------------------------------------------*/
.theme-logo{
    padding: 10px;
    text-align: center;
    line-height: 1.6;
}
.theme-title{
    margin: 0;
    font-size: 60px;
    font-weight: 700;
}
.theme-title a{
    color:  #222;
}
.theme-span{

    font-size:18px;
    letter-spacing: 13px;
    text-transform: uppercase;
}


/*menu style*/
.navcont{
    width:960px;
    margin:0 auto;
    height:45px;
}

.nav {
    height: 45px;
    padding-bottom: 7px;
    margin-bottom: 23px;
    margin: 0;
    text-transform: uppercase;
}

.nav ul {
    margin:0;
    text-align: center;
    box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);   
}

.nav ul li {
    cursor: pointer;
    -webkit-transition: padding .05s linear;
    -moz-transition: padding .05s linear;
    -ms-transition: padding .05s linear;
    -o-transition: padding .05s linear;
    transition: padding .05s linear;
}

.nav ul li.drop {
    position: relative;
}
.nav ul > li {
    display: inline-block;
}
.nav-title {
    line-height: 45px;
    padding: 0 20px;
    height: 45px;
    color:  #222;
}

.nav-title:hover {
    color:#09F;
}

.dropdownContain {
    width: 200px;
    position: absolute;
    z-index: 2;
    left: 60%;
    margin-left: -100px; /* half of width */
    top: -400px;
}
.dropOut {
    width: 200px;
    background: white;
    float: left;
    position: relative;
    margin-top: 0px;
    opacity: 0;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.dropOut ul {
    float: left;
    padding: 0;
}
.dropOut ul li  {
    text-align: left;
    float: left;
    width: 155px;
    padding: 12px 0 10px 15px;
    margin: 5px 15px;   
}
.dropOut ul li a{
    padding: 0px;
    margin-top: 0px;
    color:  #222 !important;
}
.dropOut ul li a:hover{
        color:#09F !important;
}

.dropOut ul li:hover {
    color:#09F;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}

ul li a { 
    color: #222;
}

ul li:hover a { 
    color:#09F;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
 }

ul li:hover .dropdownContain { top: 45px; }
ul li:hover .dropOut { opacity: 1; margin-top: 8px; }


/* Middle
-----------------------------------------------------------------------------*/

.box-middle{
    margin-top: 50px;
    padding: 0 9px;
    width: 30%;
    height: auto;
    display: inline-block;
}
.theme-img{
    width: 10em;
    height: auto;
    margin: 0 auto;
}
.theme-img:hover{
    opacity: 0.59; 
}

.theme-text-box{
border: 0.5px solid #DCDCDC;
border-radius:0px ;
padding: 1px ;
}
.theme-text-box:hover{
box-shadow: 0px 0px 8px #DCDCDC; 
-webkit-box-shadow: 0px 0px 8px #DCDCDC; 
-moz-box-shadow: 0px 0px 8px #DCDCDC; 
}

.theme-text-box p {
    margin: 2px 10px;
    font-size:14px;
    font-weight: 300;
}

.theme-name-product{
   font-weight: 300;
   font-size:18px;
   margin: 10px 8px;
   display: inline-block;
}
.theme-name-product a{
    color: #222;
}

.theme-name-product a:hover {
    color:#09F;
}

.theme-button{ 
    background: none;
    display:inline-block;
    color: #222;
    border: 0.5px solid #DCDCDC;
    border-radius:0px ;
    font-size:18px ;
    padding: 14px;
    font-weight:500;

}

.theme-button:hover{ 
    color:#09F;
    cursor:pointer;
    box-shadow: 0px 0px 8px #DCDCDC; 
-webkit-box-shadow: 0px 0px 8px #DCDCDC; 
-moz-box-shadow: 0px 0px 8px #DCDCDC; 
}

.box-middle .theme-button{
        margin: 5px auto;
}

.box-middle .theme-button+.theme-button{
        width: 39%;
}
.theme-price{
    display: inline-block;
    margin-left: 1%;
    text-transform: uppercase;
    font-weight:300;
    font-size: 24px;
}

.theme-price:hover {
    color:#09F;
    font-size: 27px;
}
/* Left Sidebar
-----------------------------------------------------------------------------*/
.aside{
    margin: 50px 0;
    border: 0.5px solid #DCDCDC;
    border-radius:0px ;
    padding: 1px;
}

.aside:hover{
  box-shadow: 0px 0px 8px #DCDCDC; 
-webkit-box-shadow: 0px 0px 8px #DCDCDC; 
-moz-box-shadow: 0px 0px 8px #DCDCDC; 
}

.aside h3{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
}
.aside span{
    margin-left: 60%;
    font-weight: 500;
}
.aside p{
    font-size:16px;
    margin: 20px 5px;
}
.left-menu{
    list-style-type: none;
    letter-spacing: 3px;
}
.left-menu ul li{
    list-style-type: none;
}
.left-menu ul li a{
    color: #222;
}
.theme-banner p{
    font-size:12px;
}
.theme-banner a{
    margin-left: 80%;
    color: #222;
}

/*************aside**************/


.box-aside-img{
  width: 90%;
  margin: 0 auto;
}
.box-aside-title{
  text-align: center;
  margin: 10px 0;
  color: #222;
  font-size: 18px;
}
.box-aside-title a{
  color: #222;
}
/***********************footer*****************/

.block-footer {
    position: absolute;
}

.theme-form {
    margin-top: 20px;
    margin-left: 350px; 
}

.adress{
    text-align: center;  
}
.block-info {
    margin-top: 70px;
    margin-left: 730px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  
}

#contact {
  padding: 25px; 
}

#contact:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

.fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  height: 2em;
  border: 1px solid #ccc;
  margin: 0 0 5px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}


#contact button[type="submit"]:hover {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
      color: #222;
      text-indent: 1.5em;
}

:-moz-placeholder {
      color: #222;
      text-indent: 1.5em;
}

::-moz-placeholder {
      color: #222;
      text-indent: 1em;
}

:-ms-input-placeholder {
      color: #222;
      text-indent: 1.5em;
}

.adress h2{
    margin: 90px 40px 50px;
    font-weight: 300;
    letter-spacing:8px; 
    text-transform: uppercase;
}
.adress p{
    margin: 20px; 
    letter-spacing:5px; 
    tab-size:8px;  
}

.block-info h3{
    font-weight: 300;
    letter-spacing:5px; 
    text-transform: uppercase;
}

.block-info p{
    letter-spacing:3px;
    font-size: 14px;
    text-align: justify;
}

.copiright{
    margin-top: 570px;
    margin-left: 50px;
    position: relative;
}

/********************************************\
          catigorija
*********************************************/
.box-little{
    margin-top: 60px;
    padding: 0 23px;
    width: 200px;
    height: auto;
    display: inline-block;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}
.box-little:hover{
    -webkit-transform: scale(1.2,1.2);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1.2,1.2);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}

.box-little .theme-name-product{
  font-size: 24px;
}
.little-price{
  font-size: 20px;
  font-weight: 700;
}
.little-price:hover{
  color:#09F; 
}
.description{
  font-weight: 300px;
  font-size: 12px;
}

.little-img{
    width: 120px;
    height: auto;
    margin: 0 auto;
}
.little-button{
    margin: 3px 0;
    width: 100%;
    background: none;
    border: 0;
}

 .box-little:hover .little-button{
    border: 0.5px solid #DCDCDC;
    border-radius:0px ;
    font-size:18px ;
    padding: 5px;
    font-weight:500;
    cursor:pointer;
    box-shadow: 0px 0px 8px #DCDCDC; 
-webkit-box-shadow: 0px 0px 8px #DCDCDC; 
-moz-box-shadow: 0px 0px 8px #DCDCDC; 
}   

.little-button:hover{
    color:#09F; 
}              


/*******************************
      product
********************************/
.breadcrumbs{
  margin-top: 70px;
  width: 100%;
  right: 0px;
}
.breadcrumbs ul li{
  list-style-type: none;
  display: inline;
  padding: 15px;
}
.breadcrumbs ul li:hover{
  border: 1px solid #ccc;  
}
.box-large{
  width: 500px;
}
.large-title{
  font-weight: 700;
  font-size: 30px;
  color: #222;
  text-align: right;
  padding-right: 70px;
}
.large-title a{
  color: #222;
}
.img-large{
  width: 450px;
  margin-left: auto !important;
  margin-right: auto !important;
}
.large-price{
  font-weight: 700;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 70px;
}
.box-large p{
  margin-left: 70px;
  margin-right: 70px;
  font-weight: 500;
  font-size: 18px;
}
.large-button{
    margin: 40px;
    background: none;
    display:inline-block;
    color: #222;
    border: 0.5px solid #DCDCDC;
    border-radius:0px ;
    font-size:24px ;
    padding: 20px;
    font-weight:700;
}

.large-button:hover{ 
    color:#09F;
    cursor:pointer;
    box-shadow: 0px 0px 8px #DCDCDC; 
-webkit-box-shadow: 0px 0px 8px #DCDCDC; 
-moz-box-shadow: 0px 0px 8px #DCDCDC; 
}